<section
  class="container-wrapper container d-flex justify-content-center align-items-center"
>
  <div class="form-wrapper text-center col-sm-4">
    <h2 class="text-center">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
      <div class="name-wrapper">
        <div class="mb-2">
          <input
            type="username"
            placeholder="user name"
            formControlName="username"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control"
          />
        </div>

      </div>
      
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
    </form>
    <small><a [routerLink]="'/auth/register'">Need an Account?</a></small>
  </div>
</section>
