

<div
  class="container-wrapper container d-flex justify-content-center align-items-center"
>
  <div class="form-wrapper text-center ">
    <h2 class="text-center">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="name-wrapper d-flex">
        <div class="mx-2">
          <input
            type="firstName"
            placeholder="First Name"
            formControlName="firstName"
            class="form-control"
          />
        </div>
        <div class="mb-3" >
          <input
            type="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <input
          type="username"
          placeholder="Enter Username"
          formControlName="username"
          class="form-control"
        />
      </div>
      <div class="mb-3" >
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <input
          type="phone"
          id="phone"
          placeholder="phone number"
          formControlName="phone"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <input
          type="roles"
          id="roles"
          placeholder="role"
          formControlName="roles"
          class="form-control"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Confirm password"
          formControlName="password_confirmation"
        />
      </div>
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
      <a [routerLink]="'/auth/login'">Already have an Account?</a>
    </form>
  </div>
</div>
