<h1>Registration Form.</h1>
<div class="content">
  <section>
    <div class="register-wrapper">
      <div class="register-block">
        <h3 class="register-title">Create an account</h3>
        <p>Create an account using the form below.</p>
        <form action="" (ngSubmit)="onSubmit()" >
          <input type="firstName" placeholder="Enter your First Name" />
          <input type="lastName" placeholder="Enter your Last Name" />
          <input type="username" placeholder="Enter your username" />
          <input type="phone" placeholder="Enter your Phone Number" />
          <input type="email" placeholder="Enter your email" />
          <input type="password" placeholder="Enter your password" />
          <input
            type="password_confirmation"
            placeholder="Confirm your password"
          />
          <input type="submit" value="Create my account" />
        </form>
        <button></button>
      </div>
    </div>
  </section>
</div>
<footer>
  <a href="https://twitter.com/Lilykhan786" target="_blank"></a>
</footer>
